$mainColor: #007BFF;
$dangerColor: #DC3545;
$successColor: #28A745;
$warningColor: #FFC107;
$blackColor: #343A40;
$mainMargin: 10px;
$mainPadding: 10px;
$mainBorderRadius: 10px;
$mainFontFamily:Arial;
$mainFontSize:10px;
$mainListsWidth: 33.333%;
$listsBackgroundColor:#fff;
$borderColor:#BBBBBB;
$grayColor:#6C757D;
$hoveredDefaultColor:#E0E4EE;
$mediumListsWidth:50%;
$smallListsWidth:100%;
$boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);